# {{.ProjectName}}

Go CLI scaffolded by [hades-system](https://github.com/cbip-solutions/hades-system).

- Doctrine: `{{.Doctrine}}`

## Quick start

```bash
make build
./bin/{{.ProjectName}} --help
```
