{
  "compilerOptions": {
    "target": "ES2022",
    "module": "esnext",
    "lib": ["dom", "es2022"],
    "jsx": "preserve",
    "strict": true,
    "moduleResolution": "bundler",
    "esModuleInterop": true,
    "skipLibCheck": true,
    "incremental": true
  },
  "include": ["src/**/*", "next-env.d.ts"],
  "exclude": ["node_modules", ".next"]
}
